<div id="<%= dom_id sales_payment_method %>">
  <p>
    <strong>Sale:</strong>
    <%= sales_payment_method.sale_id %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= sales_payment_method.payment_method_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= sales_payment_method.amount %>
  </p>

</div>
