<%= render "shared/table",
  table_frame_id: "customers",
  header_tags: ["Ações", "Nome"],
  ransack_predicate: :name_cont,
  new_resource_title: "New customer", new_resource_path: new_customer_path do %>

  <% @customers.each do |customer| %>
    <tr class="">
      <td><%= render "customers/actions_dropdown", customer: %></td>
      <td><%= link_to customer.name, customer %></td>
    </tr>
  <% end %>

<% end %>

<%= render "shared/table/offcanvas_filter" %>
