<p style="color: green"><%= notice %></p>

<% content_for :title, "Sales products" %>

<h1>Sales products</h1>

<div id="sales_products">
  <% @sales_products.each do |sales_product| %>
    <%= render sales_product %>
    <p>
      <%= link_to "Show this sales product", sales_product %>
    </p>
  <% end %>
</div>

<%= link_to "New sales product", new_sales_product_path %>
