<% content_for :title, "New sales product" %>

<h1>New sales product</h1>

<%= render "form", sales_product: @document_item %>

<br>

<div>
  <%= link_to "Back to sales products", sales_products_path %>
</div>
