<div id="<%= dom_id fiscal_document %>">
  <p>
    <strong>Customer:</strong>
    <%= fiscal_document.customer_id %>
  </p>

  <p>
    <strong>Total value:</strong>
    <%= fiscal_document.total_value %>
  </p>

</div>
