<div class="bg-light fixed-bottom d-flex justify-content-end p-2 gap-3">
  <%= link_to "Voltar", fiscal_documents_path, class: "btn btn-secondary" %>
  <%= link_to "Novo", new_fiscal_document_path, class: "btn btn-primary" %>
</div>
