<% content_for :title, "Editing sale" %>

<h1>Editing sale</h1>

<%= render "form", sale: @fiscal_document %>

<br>

<div>
  <%= link_to "Show this sale", @fiscal_document %>
  |
  <%= link_to "Back to sales", sales_path %>
</div>
