<% content_for :title, "Categories" %>

<div class="p-2 vh-100 overflow-y-scroll">
  <div class="p-2 bg-light rounded-top">
    <h1>Categorias</h1>

    <ul><%= render_categories(@categories) %></ul>

    <%= link_to "New category", new_category_path %>
  </div>
</div>
