<div class="bg-light fixed-bottom d-flex justify-content-end p-2 gap-3">
  <%= link_to "Voltar", products_path, class: "btn btn-secondary" %>
  <%= form.submit "Salvar", class: "btn btn-primary" %>
  <%= link_to "Novo", new_product_path, class: "btn btn-primary" %>
</div>
